.nav-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.header-bar {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-img-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}

.item1 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.item1 a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    padding: 10px 10px;
    font-weight: 300;
    margin: 0 12px;
    color: black;
    box-sizing: border-box;
}

.item1 a:hover {
    color: #017FE4;
    border-bottom: 1px solid #017FE4;
}

.item1 a:active {
    color: #017FE4;
    /* border-bottom: 1px solid #017FE4; */
}

.cross {
    color: black;
    display: none;
}

@media only screen and (max-width: 1024px) {

    .header-bar,
    .item1,
    .nav-items {
        flex-direction: column;
        width: 90%;
        /* border: 2px solid green; */
    }

    .item1 a:hover {
        color: #017FE4;
    }

    .cross {
        right: 5px;
        /* padding: 10px; */
        display: flex;
        margin: 10px;
        font-size: 18px;
        align-items: center;
        font-weight: 600;
    }

    .item1 a {
        margin: 3px;
        color: black;
        font-size: 18px;
    }

    .burger {
        color: #017FE4;
        background-color: white;
        /* padding: 10px; */
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .line {
        background-color: #017FE4;
        width: 21px;
        height: 2px;
        line-height: 2;
        margin: 3px 0;
    }
}

@media only screen and (max-width: 350px) {

    .header-bar,
    .item1,
    .nav-items {
        flex-direction: column;
        width: 95%;
    }
}