.first_section{
    display: flex;
    flex-direction: row;
}
.photo{
padding: 50px;
flex-wrap: 30%;
display: flex;
}
.text_area{
    padding: 50px;
    flex: 70%;
}

@media (max-width: 800px) {
    .first_section {
      flex-direction: column;
     
    }
  }
  @media (min-width: 700px){
    .first_section, .first_section-lg, .first_section-md, .first_section-sm, .first_section-xl {
        max-width: 1500px;
    }}


.second_section{
    display: flex;
    flex-direction: row;
}
.text_area_second{
    padding: 50px;
    text-align: left;
    flex: 70%; 
    flex-direction: row-reverse;
}

.photo_second{
    padding: 50px;
    flex-wrap: 30%;
   
}
@media (max-width: 800px) {
    .second_section {
      flex-direction: column-reverse;
     
    }
  }
  @media (min-width: 700px){
    .second_section, .second_section-lg, .second_section-md, .second_section-sm, .second_section-xl {
        max-width: 1550px;
    }}


/* section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}

.cid-sqaa7Y5g7t img {
    width: 250%;
}

.display-7 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-left: 20rem;
}

.display-5{
    margin-left: 20rem;
}

strong {
    font-weight: bold;
}

.container{
    display: flex;
    
}
 

 */

/* .section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
} */





/* .align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
} */

/* img, iframe {
    display: block;
    width: 100%;
} */
/* 
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
} */


/* @media (min-width: 992px)
.row {
    margin-left: -16px;
    margin-right: -16px;
} */







